[Unit]
Description=OpenVPN MFA authentication service %i
After=network-online.target syslog.target openvpn-server@.service

[Service]
Type=simple
KillMode=control-group
ExecStart=/usr/libexec/etvpn/etux-vpnserver-auth -c /etc/etvpn/%i.ini
ExecReload=/bin/kill -HUP $MAINPID
User=etvpn
Group=etvpn
StandardOutput=journal
StandardError=journal
SyslogIdentifier=etux-vpnserver-auth@%i
RestartSec=5s
Restart=always
RestartPreventExitStatus=99

[Install]
WantedBy=multi-user.target
